{erl_opts, [debug_info]}.

{port_env, [
    {"CXXFLAGS", "-O3 -Wall"},
    {"(linux|solaris|freebsd|netbsd|openbsd|dragonfly|darwin|gnu)",
        "LDFLAGS", "$LDFLAGS -lstdc++"}]}.


{port_specs, [{"priv/lib/stringprep.so", ["c_src/stringprep.cpp"]}]}.

%% Local Variables:
%% mode: erlang
%% End:
%% vim: set filetype=erlang tabstop=8:
