{erl_opts, [debug_info]}.

{deps, [{p1_utils, ".*", {git, "https://github.com/processone/p1_utils.git", {tag, "1.0.2"}}}]}.

{port_env, [
    {"CXXFLAGS", "-O3 -Wall"},
    {"(linux|solaris|freebsd|netbsd|openbsd|dragonfly|darwin|gnu)",
        "LDFLAGS", "$LDFLAGS -lstdc++"}]}.

{port_specs, [{"priv/lib/stringprep.so", ["c_src/stringprep.cpp"]}]}.

{clean_files, ["c_src/stringprep.gcda", "c_src/stringprep.gcno"]}.

{cover_enabled, true}.
{cover_export_enabled, true}.

{xref_checks, [undefined_function_calls, undefined_functions, deprecated_function_calls, deprecated_functions]}.

{profiles, [{test, [{erl_opts, [{src_dirs, ["src", "test"]}]}]}]}.

%% Local Variables:
%% mode: erlang
%% End:
%% vim: set filetype=erlang tabstop=8:


{cover_enabled, true}.
{cover_export_enabled, true}.

